@model WebApplication1.Controllers.HomeController.MyModel

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="col-md-12">
                @Html.DropDownList("FromJson", new MultiSelectList(Model.AvailableItems, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function formatState(state, target) {
            if (!state.id) {
                return state.text;
            }

            const element = '<span>' + state.text + '</span>';
            const selectedElements = target.select2('data')?.map(e => e.element) || [];
            if (selectedElements.includes(state.element)) {
                return $('<span>Super icon</span>' + element);
            }

            return $(element);
        }

        $(document).ready(function () {
            const target = $("#FromJson");

            target.select2({
                multiple: true,
                closeOnSelect: false,
                allowClear: true,
                dropdownAutoWidth: false,
                placeholder: "Select...",
                scrollAfterSelect: false,
                templateResult: (state) => formatState(state, target),
                selectOnClose: false,
                language: {
                    "noResults": function () {
                        return "Super no results";
                    }
                },
            });
            target.val(null).trigger("change");

            target.on("select2:select", function (e) {
                target.select2('close');
                target.select2('open');
            });
        });
    </script>
}
